$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$bg: hsl(216, 12%, 8%);
$card-bg: hsl(215, 21%, 16%);
$star-bg: hsl(210, 19%, 18%);
$heading: hsl(180, 50%, 98%);
